<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <nav class="footer-links">
        <div>
          <p class="footer--header">company</p>
          <ul>
            <li><a href="#">shop</a></li>
            <li><a href="#">designers</a></li>
            <li><a href="#">contacts</a></li>
            <li><a href="#">careers</a></li>
          </ul>
        </div>
        <div>
          <p class="footer--header">our socials</p>
          <ul>
            <li><a href="#">facebook</a></li>
            <li><a href="#">telegram</a></li>
            <li><a href="#">instagram</a></li>
            <li><a href="#">tik tok</a></li>
          </ul>
        </div>
        <div>
          <p class="footer--header">terms</p>
          <ul>
            <li><a href="#">terms & conditions</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">payment terms</a></li>
            <li><a href="#">shipping terms</a></li>
          </ul>
        </div>
      </nav>
      <p class="footer-text">
        &copy; Copyright 2022. Moommolights. All rights reserved. <br />
        designed by Katerina Mikhaylova(@mmetrin)
      </p>
    </div>
  </div>
</footer>
