.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-details {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-width: 800px;
}

.item-icon img {
  margin-bottom: 9px;
  max-width: 100%;
  height: auto;
}

.item-desc {
  display: flex;
  justify-content: space-between;
}

.item-desc--name {
  font-weight: 600;
}

.item-desc--price {
  font-weight: 500;
}

.item-desc--prevPrice {
  text-decoration: line-through;
  color: #c2bdae;
  font-size: 14px;
}

.item-desc--designer {
  margin-top: 5px;
  font-size: 13px;
  color: #7e7d73;
  font-weight: 500;
}
