<section class="home-section">
  <h2 class="home-section--header">best designer of month</h2>
  <article class="designer-layout">
    <section class="designer--section">
      <!-- <img
        src="https://live.staticflickr.com/65535/53101722902_18c85cc76d_o.jpg"
        alt="space"
      /> -->
      <img
        src="https://live.staticflickr.com/65535/53102537104_08d3266cc9_o.jpg"
        alt="space_"
      />
      <h3 class="designer--header">Space Copenhagen</h3>
      <p class="designer--paragraph">
        The ambition is to forge new paths by balancing opposites: classic and
        modern, industrial and organic, sculptural and minimal, light and
        shade.<br />
        The studio’s intuitive approach embodies designs that are distinctively
        shaped by the given circumstances, functional needs, and a fundamental
        interest in human behavior. It is a sense of and belief in slow
        aesthetic that centers quality and longevity.
      </p>
    </section>
    <section class="designer--section">
      <img
        src="https://live.staticflickr.com/65535/53102291371_84c11d7b3c_o.jpg"
        alt="norm"
      />

      <h3 class="designer--header">Norm Architects</h3>
      <p class="designer--paragraph">
        Founded in 2008 by a group of three graduates from the Royal Danish
        Academy of Fine Arts, School of Architecture - Jonas Bjerre-Poulsen,
        Kasper Rønn and Linda Korndal - Norm Architects is a multidisciplinary
        design studio with a focus on architecture, interiors and photography,
        as well as branding and art direction.
      </p>
    </section>
  </article>
</section>
