.sale-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto; /* Two rows */
  gap: 1rem; /* Gap between grid items */
}

@media screen and (max-width: 1200px) {
  .sale-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .sale-layout {
    grid-template-columns: repeat(1, 1fr);
  }
}
