.bestsellers-layout {
  display: grid;
}

@media only screen and (max-width: 1600px) {
  .bestsellers-layout-firstRow {
    gap: 4rem 1rem;
  }
}

.bestsellers-layout-firstRow {
  display: grid;
  gap: 1rem 1rem;
  grid-template-columns: 2fr 1fr 1fr;
}

.bestsellers-layout-secondRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bestsellers--article {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  height: 100%; /* Ensure the element takes up the available height */
}

.bestsellers--name {
  color: #ec9747;
  font-weight: 700;
}

.bestsellers--button {
  margin-top: 20px;
  background-color: white;
  padding: 15px;
  width: 180px;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}

.bestsellers--button:hover {
  background-color: #f3b67e;
}

.bestsellers--button > a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}

.fourth-item {
  max-width: 600px;
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 768px) {
  .bestsellers-layout {
  }

  .bestsellers-layout-firstRow {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .bestsellers-layout-secondRow {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .bestsellers--article {
    margin-top: 1rem;
  }
}
