<section class="home-section">
  <h2 class="home-section--header">bestsellers by Space Copenhagen</h2>
  <ul class="bestsellers-layout">
    <div class="bestsellers-layout-firstRow">
      <app-item-desc
        *ngFor="let bestseller of bestsellers.slice(0, 3)"
        [item]="bestseller"
      />
    </div>
    <div class="bestsellers-layout-secondRow">
      <article class="bestsellers--article">
        <p>
          <span class="bestsellers--name">Space Copenhagen</span> Established in
          2005 by Signe Bindslev Henriksen and Peter Bundgaard Rützou, Space
          Copenhagen is a design studio working across multiple disciplines from
          furniture, lighting and refined objects, to art installations, art
          direction and interior design for private homes, hotels and
          restaurants all over the world.
        </p>
        <button class="bestsellers--button">
          <a routerLink="/contacts">View more</a>
        </button>
      </article>

      <app-item-desc-horizontal
        *ngFor="let bestseller of bestsellers.slice(3, 4)"
        [item]="bestseller"
      />
    </div>
  </ul>
</section>
