.cart-container {
  padding: 4rem 18rem;
}
.cart-layout {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
}

.cart--item-list {
  max-width: 440px;
  max-height: 600px;
  overflow-y: scroll;
}

.cart--item-list::-webkit-scrollbar {
  width: 4px;
}

.cart--item-list::-webkit-scrollbar-track {
  background-color: #dad8cc;
}

.cart--item-list::-webkit-scrollbar-thumb {
  background-color: #686868;
  border-radius: 5px;
}

.empty--cart {
  padding-bottom: 2rem;
}

@media screen and (max-width: 1600px) {
  .cart-container {
    padding: 2rem 10rem;
  }
}

@media screen and (max-width: 1200px) {
  .cart-container {
    padding: 2rem 10rem;
  }
}
