.radio-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.battery-header {
  font-weight: 500;
  margin-bottom: 1rem;
}

.radio-container label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.radio-container input[type="radio"] {
  margin-right: 8px;
}

.radio-container input[type="radio"]:checked {
  accent-color: #e67606;
}
