nav {
  padding: 2rem 18rem;
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid #dddad1;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4fr 1fr 1fr;
  list-style: none;
}
.nav--link {
  text-align: center;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}

.nav--link > a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 500;
}

.nav--link a:hover {
  color: #e67606;
}

.name {
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.name > a {
  color: black;
  text-decoration: none;
}

.cart-quantity {
  font-size: 12px;
}

@media screen and (max-width: 1500px) {
  nav {
    padding: 2rem 10rem;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 1rem;
  }

  nav ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .name {
    font-size: medium;
  }
}

/* Media Query for Mobile Phones */
@media screen and (max-width: 480px) {
  nav {
    padding: 0.5rem;
  }

  nav ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.4rem;
  }

  .name {
    font-size: small;
    text-align: left;
  }
  .cart {
    text-align: left;
  }
}
